.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    color: rgb(242, 238, 238);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}